* {
  box-sizing: border-box;
}

.App {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px;
}

.cityList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cityList h1 {
  margin: 25px 25px;
}
.cardWrapper {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weatherImageWrapper {
  font-size: 75px;
  padding: 25px 25px;
}
.tempDetails {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.tempDetails * {
  margin: auto 25px;
  display: flex;
  flex-direction: column;
}
