* {
  box-sizing: border-box;
}
/* Home.js */
.App {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px;
}

.cityList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cityList h1 {
  margin: 25px 25px;
}
.cityList h1:hover {
}
.cityList h1 a:active {
  background-color: black;
  color: azure;
}
/* WeatherCard.js */

.cardWrapper {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Media queries: for diffrent screen size */
}

.weatherImageWrapper {
  font-size: 75px;
  margin-top: 10px;
}

.tempDetails {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.tempDetails > * {
  margin: auto 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tempDetails > h1 > strong {
  font-size: 30px;
}

.tempDetails > h2 > strong {
  font-size: 50px;
}

@media (min-width: 600px) {
  /*applied when `min-width` is above 600px */
  /* mobile first program */
  /* min-width: (more than 600px) do desktop style, max-width: {less than ###px} do mobile styles */
  .cardWrapper {
    flex-direction: row;
  }
}
